.view-data {
    background: var(--background-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .dark .view-data {
    background: var(--sidebar-background-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
  
  .view-data h2, .view-data h3 {
    margin-top: 0;
    color: var(--text-color);
  }
  
  .view-data ul {
    list-style-type: none;
    padding: 0;
  }
  
  .view-data ul li {
    color: var(--text-color);
  }
  
  .color-picker {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .color-picker button {
    margin-right: 10px;
  }
  
  .color-picker .chrome-picker {
    margin-top: 10px;
  }
  
  .color-picker div {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-left: 10px;
  }
  